$color1: #faf4ea;
$color2: #f5e9d6;
$color3: #f0dec1;
$color4: #ddc87b;
$color5: #7aaab8;
$color6: #000000;

$font:'Trebuchet MS',
'Lucida Sans Unicode',
'Lucida Grande',
'Lucida Sans',
Arial,
sans-serif;


